         body {
            margin: 0;
            overflow: hidden; 
            background-color: #f0f0f0;
        }
        #caja {
            width: 50px;
            height: 50px;
            background-color: red; 
            position: absolute; 
            top: 50px;
            left: 50px;
            transition: all 0.1s ease-out; 
        }